/* Base Navbar */
.navbar {
  width: 100%;
  padding: 7px 20px;
  background: #ecdba3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  font-family: sans-serif;
}

#history {
	color: black;
	transition: all 0.2s ease;
	&:hover{
		color: #b8860b;
		text-decoration: underline;	
	}
}

#buy-gold {
	color: black;
	transition: all 0.2s ease;
	&:hover{
		color: #b8860b;
		text-decoration: underline;	
	}
}

.secondary-btn	{
	background-color: #45a3e6;
	color: white;
	border: none;
	padding: 4px 16px;
	border-radius: 5px;
	cursor: pointer;
	font-weight: 500;
	transition: all 0.3s ease;
	&:hover {
		background-color: #1b49df;
	}
}
.logo img{
	display: flex;
	align-items: center;
	width: 30px;
	height: 30px;
	border-radius: 50%;
  font-size: 2rem;
  font-weight: bold;
  color: #b8860b;
  cursor: pointer;
}

/* Desktop nav */
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  transition: transform 0.35s ease-in-out;  /* smoother transition */
}

.nav-links li a {
  color: #222;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.2s ease;
}

.nav-links li a:hover {
  color: #b8860b;
  text-decoration: underline;
}

/* Hamburger Menu */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger span {
  height: 3px;
  width: 25px;
  background: #b8860b;
  border-radius: 2px;
  transition: all 0.3s ease;
}

/* Mobile Responsive */
@media (max-width: 768px) {
  .nav-links {
    position: fixed;
    top: 44px;
    right: 0;
    height: 100vh;
    background: #fff8e1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 220px;
    transform: translateX(100%);   /* Hidden */
    transition: transform 0.35s ease-in-out; /* smooth slide */
    box-shadow: -2px 0 6px rgba(0, 0, 0, 0.2);
  }

  .nav-links.open {
    transform: translateX(0);  /* Slide in */
  }

  .hamburger {
    display: flex;
  }
}
